{{ define "form.entity" }}
<form>
    <input
        type="hidden"
        name="EntityID"
        id="EntityID"
        {{ if .Client.Input.Focus.Entity }}
        value="{{ .Client.Input.Focus.Entity.ID }}"
        {{ end }}
    >
    <div>
        <label for="EntityName">Name</label>
        <input
            hx-post="/change"
            hx-trigger="keyup delay:500ms"
            type="text"
            name="EntityName"
            id="EntityName"
            {{ if .Client.Input.Focus.Entity }}
            value="{{ .Client.Input.Focus.Entity.Name }}"
            {{ end }}
        >
    </div>
</form>

<form
    hx-delete="/child/{{ .Client.Input.Focus.Entity.ID }}"
    hx-swap="innerHTML"
>
    <button type="submit">
        Delete
    </button>
</form>
{{ end }}