{{ define "form.schema" }}
<form>
    <input
        type="hidden"
        name="SchemaID"
        id="SchemaID"
        {{ if .Client.Input.Focus.Schema }}
        value="{{ .Client.Input.Focus.Schema.ID }}"
        {{ end }}
    >
    <div>
        <label for="SchemaName">Name</label>
        <input
            hx-post="/change"
            hx-trigger="keyup delay:500ms"
            type="text"
            name="SchemaName"
            id="SchemaName"
            {{ if .Client.Input.Focus.Schema }}
            value="{{ .Client.Input.Focus.Schema.Name }}"
            {{ end }}
        >
    </div>
</form>

<form
    hx-delete="/child/{{ .Client.Input.Focus.Schema.ID }}"
    hx-swap="innerHTML"
>
    <button type="submit">
        Delete
    </button>
</form>
{{ end }}