{{ define "entity" }}
type {{ renderPascal .Name }} struct {
    {{ range $index, $element := .Attributes }}
    {{- template "attribute" . }}{{if notLast $index $.Attributes }}
    {{ end }}
    {{- end }}
}
{{ end }}