{{ define "entity" }}
// {{ renderPascal .Name }} is a entity in sql. Then json struct tags align with its column name.
type {{ renderPascal .Name }} struct {
    {{ range $index, $element := .Attributes }}
    {{- template "attribute" . }}{{if notLast $index $.Attributes }}
    {{ end }}
    {{- end }}
}
{{- end }}