{{ define "entity" }}
// {{ renderPascal .Name }} is a entity in sql. The json struct tags align with its column name.
type {{ renderPascal .Name }} struct {
    {{ range $index, $element := .Attributes }}
    {{- template "attribute" . }}{{if notLast $index $.Attributes }}
    {{ end }}
    {{- end }}
}

{{- range $index, $relation := .Relations }}
    {{ if $relation.Assoc }} 
// {{ renderPascal $relation.Name }} is derived from associative entity '{{ $relation.Assoc.Name }}':
// '{{ $relation.Base.Name }}' has zero to many '{{ $relation.Has.Name }}' 
    {{- else if $relation.Many }}
// {{ renderPascal $relation.Name }} is a optional relation:
// '{{ $relation.Base.Name }}' has zero to many '{{ $relation.Has.Name }}' 
    {{- else if $relation.Optional }}
// {{ renderPascal $relation.Name }} is a direct relation:
// '{{ $relation.Base.Name }}' has zero to one '{{ $relation.Has.Name }}' 
    {{- else }}
// {{ renderPascal $relation.Name }} is a direct relation:
// '{{ $relation.Base.Name }}' has one and exactly one '{{ $relation.Has.Name }}' 
    {{- end }}
type {{ renderPascal $relation.Name }} struct {
    {{ renderPascal $relation.Base.Name }}
    {{- if $relation.Assoc }} 
    {{ renderPascal $relation.HasName }} []{{ renderPascal $relation.Has.Name }} `json:"{{ $relation.HasName }}"`
    {{- else if $relation.Many }} 
    {{ renderPascal $relation.HasName }} []{{ renderPascal $relation.Has.Name }} `json:"{{ $relation.HasName }}"`
    {{- else }}
    {{ renderPascal $relation.Has.Name }} {{ renderPascal $relation.Has.Name }} `json:"{{ $relation.Has.Name }}"`
    {{- end }}
}

{{- end }}
{{- end }}