.split-container {
    display: flex;
    height: calc(100vh - 4rem);
    /* Full height of the viewport */
}

.left-panel,
.right-panel {
    position: relative;
    overflow: hidden;
    // padding: 1rem;
    height: 100%;
    width: 100%;
}

.divider {
    cursor: ew-resize;
    background-color: rgb(0, 0, 0, 0.15);
    width: 0.5rem;
    height: 100%;
}