li {
    padding-bottom: 0.5rem;
}

pre,
code {
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.25rem;
    overflow: auto;
    
    border-width: var(--mdc-chip-outline-width, 1px);
    border-radius: var(--mdc-chip-container-shape-radius, 8px);
    box-sizing: border-box;
    border-style: solid;
    
    line-height: 1.5rem;
}

h2 {
    border-top: 1px solid gray;
    padding-top: 1rem;
}

h3 {
    border-top: 1px solid lightgray;
    max-width: 20rem;
    padding-top: 0.5rem;
}