.split {
  display: grid;
  grid-template-columns: min-content auto;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.title-1 {
  font-size: 1.6rem;
  // border-bottom: 0.1rem solid black;
}

.title-2 {
  font-size: 1.4rem;
}

.title-3 {
  font-size: 1.2rem;
}

.group {
  padding: var(--space-sm) var(--space) var(--space-sm) var(--space);
  border-left: 0.1rem solid black;
  margin-left: var(--space);
}

.group:hover {
  // border-left: 0.1rem solid black;
  margin-left: var(--space);
}

input {
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 0;
  padding: var(--space);
}

input:focus {
  outline: none;
  border-bottom-color: blue;
}

.fs-modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .bd {
    z-index: 11;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .box {
    z-index: 12;
  }
}

.box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  background-color: white;
  border-radius: var(--space);
  min-width: 50vw;
  max-width: 80vw;
  max-height: 80vh;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space);
    font-size: 1.35rem;
    padding: var(--space-sm) var(--space) var(--space-sm) var(--space);

    button:last-child {
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: var(--space);
    }
  }

  .content {
    border-bottom: 0.1rem solid black;
    padding: 0 var(--space) var(--space) var(--space);
    overflow: auto;
  }

  .footer {
    padding: 0 var(--space) 0 var(--space);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space);
    padding: 0;
    border-bottom-right-radius: var(--space);
    border-bottom-left-radius: var(--space);

    button {
      height: 2rem;
    }

    button:first-child {
      border-bottom-left-radius: var(--space);
    }

    button:last-child {
      border-bottom-right-radius: var(--space);
    }
  }
}

.warn {
  background-color: var(--warn-transparent);
  border-left: 0.1rem solid var(--warn);
  border-left-width: 0.2rem;
  color: var(--black);
}

.error {
  background-color: var(--error-transparent);
  border-left: 0.1rem solid var(--error);
  border-left-width: 0.2rem;
  color: var(--black);
}

.info {
  background-color: var(--info-transparent);
  border-left: 0.1rem solid var(--info);
  border-left-width: 0.2rem;
  color: var(--black);
}

.success {
  background-color: var(--success-transparent);
  border-left: 0.1rem solid var(--success);
  border-left-width: 0.2rem;
  color: var(--black);
}

.highlight {
  background-color: var(--highlight-transparent);
  border-left: 0.1rem solid var(--highlight);
  border-left-width: 0.2rem;
  color: var(--black);
}

.primary {
  background-color: var(--primary-transparent);
  border-left: 0.1rem solid var(--primary);
  border-left-width: 0.2rem;
  color: var(--black);
}

.accent {
  background-color: var(--accent-transparent);
  border-left: 0.1rem solid var(--accent);
  border-left-width: 0.2rem;
  color: var(--black);
}


.warn-hover:hover:not(:disabled) {
  background-color: var(--warn-transparent);
  border-left: 0.1rem solid var(--warn);
  border-left-width: 0.2rem;
  color: var(--black);
}

.error-hover:hover:not(:disabled) {
  background-color: var(--error-transparent);
  border-left: 0.1rem solid var(--error);
  border-left-width: 0.2rem;
  color: var(--black);
}

.info-hover:hover:not(:disabled) {
  background-color: var(--info-transparent);
  border-left: 0.1rem solid var(--info);
  border-left-width: 0.2rem;
  color: var(--black);
}

.success-hover:hover:not(:disabled) {
  background-color: var(--success-transparent);
  border-left: 0.1rem solid var(--success);
  border-left-width: 0.2rem;
  color: var(--black);
}

.highlight-hover:hover:not(:disabled) {
  background-color: var(--highlight-transparent);
  border-left: 0.1rem solid var(--highlight);
  border-left-width: 0.2rem;
  color: var(--black);
}

.primary-hover:hover:not(:disabled) {
  background-color: var(--primary-transparent);
  border-left: 0.1rem solid var(--primary);
  border-left-width: 0.2rem;
  color: var(--black);
}

.accent-hover:hover:not(:disabled) {
  background-color: var(--accent-transparent);
  border-left: 0.1rem solid var(--accent);
  border-left-width: 0.2rem;
  color: var(--black);
}


.g-2 {
  gap: var(--space)
}

.g-1 {
  gap: var(--space-sm)
}

.p-2 {
  padding: var(--space) var(--space) var(--space) var(--space);
}

.m-2 {
  margin: var(--space) var(--space) var(--space) var(--space);
}

.p-1 {
  padding: var(--space-sm) var(--space) var(--space-sm) var(--space);
}

.m-1 {
  margin: var(--space-sm) var(--space) var(--space-sm) var(--space);
}

.fade-in {
  animation: fadeIn 0.5s;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.sticky-t-0 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky-t-1 {
  position: -webkit-sticky;
  position: sticky;
  top: var(--space);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  padding: 0;
  margin: 0;
  padding: var(--space-sm) var(--space) var(--space-sm) var(--space);

}

code,
pre,
textarea {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

pre,
textarea {
  padding: var(--space);
}

code {
  padding: 0.1rem var(--space-sm) 0.1rem var(--space-sm);
  border: 0.1rem solid var(--black);
  margin: 0;
}

button {
  border: 0;
  font-size: 1rem;
  background-color: white;
  padding: var(--space-sm) var(--space) var(--space-sm) var(--space);
}

.hover-highlight:hover:not(:disabled),
button:hover:not(:disabled) {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background-color: var(--warn-transparent);
  border-left: 0.1rem solid var(--warn);
  border-left-width: 0.2rem;
  color: var(--black);
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.5rem 2rem 0px;
}

.hover-highlight:hover:not(:disabled) {
  padding: 0 var(--space) 0 var(--space);
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space);
  margin-top: var(--space);
  padding: var(--space) var(--space) var(--space) var(--space);

  // @media (max-width: 640px) {
  //   .control:last-child {
  //     border: 0;
  //   }
  // }

  .control {
    margin-top: var(--space-sm);
    position: relative;
    display: block;
    height: 2rem;
    border-bottom: 0.1rem solid black;
    width: 13.5rem;

    input,
    select {
      margin: 0;
      padding: 0.6rem 0.5rem 0.1rem 0.5rem;
      position: absolute;
      border: 0;
      background-color: white;
      width: 13.5rem;
      font-size: 1rem;
      min-height: 1.35rem;
    }

    input:focus,
    select:focus {
      border-bottom-color: var(--primary);
    }

    label {
      color: var(--primary);
      padding: 0 var(--space-sm) 0 var(--space-sm);
      position: absolute;
      font-size: 0.8rem;
      left: 0.2rem;
      top: -0.5rem;
      z-index: 2;
      background-color: white;
      border-radius: var(--space-sm);
    }
  }
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border-left: 0.2rem solid var(--error) !important;
  background-color: var(--error-transparent) !important
}

.chips {
  display: flex;
  flex-direction: row;
  gap: var(--space);
  flex-wrap: wrap;
}

.chip {
  border-radius: 1rem;
  font-size: 0.8rem;
  border: 0;
  background-color: var(--accent-transparent);
  padding: var(--space-sm) var(--space) var(--space-sm) var(--space);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip.clickable:hover {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background-color: var(--warn-transparent);
  color: var(--black);
  box-shadow: rgba(100, 100, 111, 0.2) 0 0.5rem 2rem 0px;
}

.small-font {
  font-size: 0.8rem;
}

.code-generator {
  height: 20rem;
}

.scroll-box {
  /* border-left: 0.1rem solid var(--primary); */
  overflow: auto;

  border: 0.1rem solid var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 0.5rem 0.05rem inset;
}
