.notifications {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    background-color: var(--white);
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}


.split {
    display: grid;
    grid-template-columns: 20rem calc(100vw - 23rem);
    // grid-template-columns: 18.5rem 18.5rem calc(100vw - 41rem);
    gap: var(--space);
}

@media (max-width: 680px) {
    .split {
        display: grid;
        grid-template-columns: 50vw 50vw auto;
    }
}