pre,
code {
    background-color: rgba(0, 92, 187, 0.1);
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    height: 1.5rem;
}

code {
    padding: 0.05rem 1rem 0.05rem 1rem;
    height: 1.2rem;
}

li {
    padding-bottom: 0.5rem;
}