li {
    padding-bottom: 0.5rem;
}

pre,
code {
    color: #545454;
    padding: 0.15rem 1rem 0.25rem 1rem;
    border-radius: 0.25rem;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0.5rem 0.1rem inset
}
