package {{ renderCamel .Name }}

import (
	"errors"
	"fmt"
	"strconv"
	"time"
)

// errors related to validation
var (
	ErrValidation = errors.New("validation failed")
	ErrMin        = errors.New("too small")
	ErrMax        = errors.New("too big")
	ErrMinTime    = errors.New("too soon")
	ErrMaxTime    = errors.New("too late")
	ErrEmpty      = errors.New("empty")
)

// NewErrValidation provides a formatted error to indicate which field failed validation
func NewErrValidation(s string) error {
	return fmt.Errorf("%w: %s", ErrValidation, s)
}

{{- range $index, $element := .Entities }}
    {{- if $element.HasValidity }}
        {{- template "entity" . }}
    {{- end }}
{{- end }}