<!DOCTYPE html>
<html
    lang="en"
    hx-headers='{"X-CSRF-TOKEN": "{{ . }}"}'
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content=" default-src 'self'; style-src 'self' 'unsafe-inline';">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/public/asset/style/dialog.css" >
    <link rel="stylesheet" href="/public/asset/style/style.css" >
    <link rel="stylesheet" href="/public/asset/style/gui.css" >
    <link rel="stylesheet" href="/public/asset/font/material-icons.css" >
    <link rel="stylesheet" href="/public/asset/font/jetbrains.css" >
    <link rel="stylesheet" href="/public/asset/font/red-hat-display.css" >
    <script src="/public/asset/script/dialog.js"></script>
    <script src="/public/asset/script/htmlx.js"></script>
    <link rel="shortcut icon" href="/public/asset/images/favicon.ico" type="image/x-icon">

    <title>Home</title>
</head>

<body>
    <header>
        <h1>
            Dev Toolbox
        </h1>

        {{ template "nav.pub" }}
    </header>

    <main>
        <div class="fc g2">
            <div class="fr g1">
                <button
                    hx-get="/dialog/setting"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    Settings
                </button>
                <button
                    hx-get="/dialog/example"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    Examples
                </button>
            </div>

            <div class="fr g2">
                <div
                    hx-get="/island/input"
                    hx-trigger="load"
                ></div>
                <div id="input"></div>

                <div
                    hx-get="/island/output"
                    hx-trigger="load"
                ></div>
                <div id="output"></div>
            </div>
        </div>
    </main>

</body>

</html>