<!DOCTYPE html>
<html
    lang="en"
    hx-headers='{"X-CSRF-TOKEN": "{{ . }}"}'
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/asset/style/dialog.css">
    <link rel="stylesheet" href="/public/asset/style/style.css">
    <link rel="stylesheet" href="/public/asset/style/gui.css">
    <link rel="stylesheet" href="/public/asset/font/material-icons.css">
    <link rel="stylesheet" href="/public/asset/font/jetbrains.css">
    <link rel="stylesheet" href="/public/asset/font/red-hat-display.css">
    <script src="/public/asset/script/dialog.js"></script>
    <script src="/public/asset/script/htmlx.js"></script>
    
    <title>Home</title>
</head>

<body>
    <header>
        <h1>
            Dev Toolbox
        </h1>

        {{ template "_nav" }}
    </header>

    <main>
        <div class="fc">
            <div class="fr">
                <button
                    hx-get="/dialog/_settings"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    Settings
                </button>
                <button
                    hx-get="/dialog/_examples"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    Examples
                </button>
            </div>

            <div class="fr">
                <div
                    hx-get="/island/_input"
                    hx-trigger="load"
                    hx-swap="outerHTML"
                ></div>

                <!-- targeted by input template -->
                <div id="output-box">
                    <div
                        hx-get="/island/_output"
                        hx-trigger="load"
                        hx-swap="outerHTML"
                    ></div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>