:root {
  /* Wong color blind pallette */

  --blue: rgb(0, 114, 178);
  --red: rgb(213, 94, 0);
  --pink: rgb(204, 121, 167);
  --yellow: rgb(240, 228, 66);
  --green: rgb(0, 158, 115);
  --light-blue: rgb(86, 180, 233);
  --orange: rgb(230, 159, 0);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "red-hat-display", sans-serif;
}

button {
  font-size: 16px;
  font-family: "red-hat-display", sans-serif;
}

pre,
textarea,
code,
.file-name {
  font-size: 13px;
  font-family: "jetbrains", monospace;
}

.file-name {
  color: var(--blue);
}

a {
  color: var(--blue);
  text-decoration: none;
}

main,
footer {
  padding: 1rem;
}

header {
  padding: 0 1rem 0 1rem;
}

dialog h3 {
  margin-top: 0;
}

.ml-auto {
  margin-left: auto;
}

.p1 {
  padding: 0.5rem;
}

.p2 {
  padding: 0.5rem;
}

.h100 {
  height: 100%;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.fw {
  flex-wrap: wrap;
}

.g1 {
  gap: 0.5rem;
}

.g2 {
  gap: 1rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-align {
  align-items: center;
}

.center-just {
  justify-content: center;
}

.rounded {
  border-radius: 0.5rem;
}

.high {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.higher {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fc {
  display: flex;
  flex-direction: column;
}

.scroll-box {
  position: relative;
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

button:has(.icons) {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}

button:hover:not(:disabled) {
  cursor: pointer;
}

.fade-me-in.htmx-added {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.w-full {
  width: 100%;
}

.fg-blue {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.fg-red {
  color: var(--red);
}
.bg-red {
  background-color: var(--red);
}
.fg-pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}
.fg-yellow {
  color: var(--yellow);
}
.bg-yellow {
  background-color: var(--yellow);
}
.fg-green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.fg-light {
  color: var(--light);
}
.bg-light {
  background-color: var(--light);
}
.fg-orange {
  color: var(--orange);
}
.bg-orange {
  background-color: var(--orange);
}
