<div class="container">
    <div class="side">
        <app-side-bar-editor></app-side-bar-editor>
    </div>
    <div
        class="main table-boundary"
        id="root-editor"
        #rootEditor
    >
        <canvas
            class="canvas"
            #canvas
        ></canvas>

        @for (s of data.schemas; track $index) {
        @for (t of s.Tables; track $index; let ti = $index) {
        <mat-card
            appearance="outlined"
            [id]="'table:' + t.ID"
            class="table"
            cdkDrag
            cdkDragBoundary=".table-boundary"
            [cdkDragFreeDragPosition]="t.dragPosition"
            (cdkDragEnded)="doneDrag(t, $event)"
        >
            <mat-card-header>
                <mat-card-title (dblclick)="sideBarService.doShowModalTable(t)">
                    {{ t.Name | titlecase }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ s.Name | titlecase }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-list>
                @for (a of t.Attributes; track $index; let ai = $index) {
                <!-- Attribute -->

                <mat-list-item>
                    <div
                        class="attribute"
                        (dblclick)="doShowModalAttribute(s, t, a)"
                        [id]="'attribute:' + a.ID"
                    >


                        <span [ngClass]="
                        {
                            'attr-is-primary': !sideBarService.showMoreDetails && a.Option?.PrimaryKey,
                            'attr-is-unique': !sideBarService.showMoreDetails && a.Option?.Unique,
                            'attr-is-required': !sideBarService.showMoreDetails && a.Validation?.Required,
                            'attr-is-reference': !sideBarService.showMoreDetails && a.Type === 'REF',
                        }">
                            {{ a.Name | titlecase }}
                            @if (sideBarService.showMoreDetails) {
                            ({{ a.Type | lowercase }})
                            }
                        </span>

                        @if (sideBarService.showMoreDetails) {
                        <mat-chip-set aria-label="Attribute properties">
                            @if(a.Option?.PrimaryKey) {
                            <mat-chip> PK </mat-chip>
                            }
                            @if(a.Type === 'REF' ) {
                            <mat-chip> FK </mat-chip>
                            }
                            @if(a.Option?.Unique) {
                            <mat-chip> Unique </mat-chip>
                            }
                            @if(a.Validation?.Required) {
                            <mat-chip> Required </mat-chip>
                            }
                        </mat-chip-set>
                        }

                        <!-- <span>
                            {{a.Description}}
                        </span> -->
                    </div>


                </mat-list-item>

                @if (a.warnings.length > 0) {
                <div class="fc align-center justify-center">
                    @for (w of a.warnings; track $index) {
                    <span class="error">
                        {{ w }}
                    </span>
                    }
                </div>
                }
                }
            </mat-list>

            <mat-card-actions>
                <button
                    mat-icon-button
                    (click)="doShowModalAttribute(s, t)"
                    aria-label="Add attribute to table"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        }
        }
    </div>
</div>