* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.canvas {
    position: fixed;
}

#root-editor {
    width: 100%;
    height: 100%;
    // background-color: rgba(0,0,0,0.5);
}

.table {
    position: fixed;
    width: min-content;
    // background-color: rgba(255, 255, 255, 0.8);
    // background-color: rgba(255, 255, 255, 1);
}
