.container {
    display: grid;
    grid-template-columns: 20rem auto;
    height: calc(100vh - 4rem);

    >.side {
        padding: 1rem;
    }

    >.main {
        padding: 1rem;
        overflow: auto;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvas {
    position: fixed;
}

#root-editor {
    width: 100%;
    height: 100%;
    // background-color: rgba(0,0,0,0.5);
}

.table {
    position: fixed;
    width: auto;
    max-width: 25rem;
    min-width: 10rem;
    // background-color: rgba(255, 255, 255, 0.8);
    // background-color: rgba(255, 255, 255, 1);
}

.attributes {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    padding: 0 0.5rem 0 1.5rem;
}


.attribute {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.attr-is-primary {
    font-weight: 700;
}

.attr-is-unique {
    font-style: italic;
}

.attr-is-required {
    ::after {
        content: "*";
    }
}

.attr-is-reference {
    text-decoration: underline;
}