.toolbar-icon-spacer {
    flex: 1 1 auto;
}

.flex-row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    padding-left: 2rem;
    align-items: flex-end;
    justify-content: flex-start;
}