<mat-drawer-container
    autosize
    [hasBackdrop]="true"
>
    <!-- <mat-drawer
        #drawer
        mode="over"
        class="p2"
    >
    </mat-drawer> -->

    <mat-toolbar>
        <!-- <button
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="See the menu"
        >
            <mat-icon>menu</mat-icon>
        </button> -->
        @if (showTitle) {
        <span>Dev Toolbox</span>
        }

        <div class="flex-row">
            <a
                mat-button
                routerLink="tui"
            >
                Manage
                @if (showSplitPage) { (TUI) }
            </a>
            @if (showSplitPage) {
            <a
                mat-button
                routerLink="gui"
            >
                Manage (GUI)
            </a>
            <a
                mat-button
                routerLink="migration"
            >
                Migration
            </a>
            }
            <a
                mat-button
                routerLink="boilerplate"
            >
                Boilerplate
            </a>
            @if (showSplitPage) {
            <a
                mat-button
                routerLink="tui-boil"
            >
                TUI & Boil (Split)
            </a>
            }
            <a
                mat-button
                routerLink="about"
            >
                About
            </a>
        </div>
    </mat-toolbar>

    <div class="max-size">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>