<mat-drawer-container
    autosize
    [hasBackdrop]="true"
>
    <!-- <mat-drawer
        #drawer
        mode="over"
        class="p2"
    >
    </mat-drawer> -->

    <mat-toolbar>
        <!-- <button
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="See the menu"
        >
            <mat-icon>menu</mat-icon>
        </button> -->
        @if (showTitle) {
        <span>Dev Toolbox</span>
        }

        <div class="flex-row">
            <a
                mat-button
                routerLink="editor"
            >
                Editor
            </a>

            <a
                mat-button
                routerLink="migration"
            >
                Migration
            </a>


            <a
                mat-button
                routerLink="about"
            >
                About
            </a>
        </div>

        <span class="toolbar-icon-spacer"></span>

        <button
            matTooltip="Settings"
            mat-icon-button
            aria-label="Settings"
            (click)="showSettings()"
        >
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <div class="max-size">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>