.notifications {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    background-color: var(--white);
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.split {
    display: grid;
    // grid-template-columns: 20rem calc(100vw - 23rem);
    grid-template-columns: 15rem 18rem calc(100vw - 35rem);
    gap: var(--space);
    padding: var(--space);
}

@media (max-width: 680px) {
    .split {
        grid-template-columns: 100vw;
        margin-bottom: 4rem;
        gap: 4rem;
        padding: 0;
    }

    .section-parent {
        height: 75vh;
    }
}