.notifications {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    background-color: var(--white);
}

.fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
}

.top-bar {
    height: 4rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    margin: var(--space);
}

.app-container {
    display: grid;
    grid-template-columns: 100vw;
    gap: var(--space);
    grid-template-rows: 4rem auto;
}

.split {
    display: grid;
    // grid-template-columns: 20rem calc(100vw - 23rem);
    grid-template-columns: 15rem 28rem calc(100vw - 45rem);
    gap: var(--space);
    padding: var(--space);
}

@media (max-width: 680px) {
    .split {
        grid-template-columns: 100vw;
        margin-top: var(--space);
        margin-bottom: 4rem;
        gap: 4rem;
        padding: 0;
    }

    .section-parent {
        height: 75vh;
    }
}