<mat-drawer-container
    autosize
    [hasBackdrop]="true"
>
    <!-- <mat-drawer
        #drawer
        mode="over"
        class="p2"
    >
    </mat-drawer> -->

    <mat-toolbar>
        <!-- <button
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="See the menu"
        >
            <mat-icon>menu</mat-icon>
        </button> -->
        <span>Dev Toolbox</span>

        <div class="flex-row">
            <a
                mat-button
                routerLink="manage-blueprints"
            >
                Manage
            </a>
            @if (showSplitPage) {
            <a
                mat-button
                matTooltip="Wide screens only"
                routerLink="manage-blueprints-gui"
            >
                Manage (Graphical)
            </a>
            }
            <a
                mat-button
                routerLink="explore-results"
            >
                Explore
            </a>
            @if (showSplitPage) {
            <a
                mat-button
                matTooltip="Wide screens only"
                routerLink="manage-and-explore"
            >
                Manage & Explore
            </a>
            }
        </div>
    </mat-toolbar>

    <div class="max-size">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>