{{- block "primary" . }}
    {{- if .HasPrimary }},
    PRIMARY KEY({{ range $index, $element := .PrimaryList }}{{ if ne $index 0 }},{{ end }}{{ $element }}{{ end }})
    {{- end }}
{{- end }}
{{- block "unique" . }}
    {{- if .HasUnique }},
    {{ range $index, $elements := .UniqueList }}{{ if ne $index 0 }},
    {{ end }}UNIQUE({{ range $index, $element := $elements }}{{ if ne $index 0 }},{{ end }}{{ $element.Name }}{{ end }})
    {{- end }}
    {{- end }}
{{- end }}
{{ define "entity" }}
CREATE TABLE {{ .Name }} (
    {{ range $index, $element := .Attributes }}
        {{- template "attribute" . }}
        {{- if notLast $index $.Attributes }},
    {{ end }}
    {{- end }}
    {{- template "unique" . }}
    {{- template "primary" . }}
);
{{ end }}