* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.canvas {
    position: fixed;
}

#root-editor {
    width: 600px;
    height: 600px;
}

// .table {
//     position: fixed;
//     width: min-content;
//     background-color: rgba(255, 255, 255, 0.8);
//     // background-color: rgba(255, 255, 255, 1);

//     border: 0.1rem solid var(--black-transparent);
//     border-radius: var(--space-sm);
//     padding: var(--space-sm) var(--space) var(--space-sm) var(--space);

//     >span {
//         color: var(--primary);
//         font-weight: 700;
//     }
// }
