<div
    class="section-parent table-boundary"
    id="root-editor"
>
    <canvas
        class="canvas"
        #canvas
        width="1000"
        height="1000"
    ></canvas>

    @for (s of data.schemas; track $index) {
    @for (t of s.Tables; track $index; let ti = $index) {
    <div
        [id]="'table:' + t.ID"
        class="table"
        cdkDrag
        cdkDragBoundary=".table-boundary"
        [cdkDragFreeDragPosition]="t.dragPosition"
        (cdkDragEnded)="doneDrag(t, $event)"
    >
        <div>
            <table>
                <tr>
                    <th> {{ t.Name | titlecase }} </th>
                    <th>
                        <i class="icon small accent-text">switch_access_shortcut</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">key</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">verified</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">asterisk</i>
                    </th>
                    <th>

                    </th>
                </tr>
                @for (a of t.Attributes; track $index; let ai = $index) {
                <!-- Attribute -->
                <tr
                    class="can-hover"
                    (mouseup)="doShowModalAttribute(s, t, a)"
                    [id]="'attribute:' + a.ID"
                >

                    <td>
                        {{ a.Name | lowercase }}
                    </td>
                    <td>
                        @if (a.Type === 'REF') {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Option?.PrimaryKey) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Option?.Unique) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Validation?.Required) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.warnings.length > 0) {
                        <div class="fc align-center justify-center">
                            @for (w of a.warnings; track $index) {
                            <span class="error">
                                {{ w }}
                            </span>
                            }
                        </div>
                        }
                    </td>
                </tr>
                }
            </table>

            <div class="pl-4">

                <button
                    class="fr align-center g-1 hide-until-hover"
                    (mouseup)="doShowModalAttribute(s, t)"
                >
                    <span> Attribute </span>
                    <i class="icon small">add</i>
                </button>
            </div>
        </div>
    </div>

    }
    <div class="pl-4">
        <button
            class="fr align-center g-1 hide-until-hover"
            (mouseup)="doShowModalTable(s)"
        >
            <span> Table </span>
            <i class="icon small">add</i>
        </button>
    </div>
    }
    <div class="pl-4">
        <button
            class="fr align-center g-1 hide-until-hover"
            (mouseup)="doShowModalSchema()"
        >
            <span> Schema </span>
            <i class="icon small">add</i>
        </button>
    </div>
</div>

@if (showModalSchema) {
<app-modal
    [title]="'Schema'"
    [(visible)]="showModalSchema"
    (accepted)="clickSaveSchema()"
    [disableAccept]="!schemaForm.valid"
>
    <ng-content body>
        <div
            class="controls"
            [formGroup]="schemaForm"
        >
            <div class="control">
                <label for="schemaName">Name</label>
                <input
                    type="text"
                    formControlName="Name"
                    autocomplete="none"
                    id="schemaName"
                    #schemaName
                />
            </div>
        </div>
    </ng-content>
    <ng-content footer>
        @if (selectedSchema) {
        <button
            (mouseup)="clickDelSchema()"
            class="error-hover"
        >Delete</button>
        }
    </ng-content>
</app-modal>
}

@if (showModalTable) {
<app-modal
    [title]="'Table'"
    [(visible)]="showModalTable"
    (accepted)="clickSaveTable()"
    [disableAccept]="!tableForm.valid"
>
    <ng-content body>
        <div
            class="controls"
            [formGroup]="tableForm"
        >
            <div class="control">
                <label for="tableName">Name</label>
                <input
                    type="text"
                    formControlName="Name"
                    autocomplete="none"
                    id="tableName"
                    #tableName
                />
            </div>
        </div>
    </ng-content>
    <ng-content footer>
        @if (selectedTable) {
        <button
            (mouseup)="clickDelTable()"
            class="error-hover"
        >Delete</button>
        }
    </ng-content>
</app-modal>
}

@if (showModalAttribute) {
<app-modal
    [title]="'Attribute'"
    [(visible)]="showModalAttribute"
    (accepted)="clickSaveAttribute()"
    [disableAccept]="!attributeForm.valid"
>
    <ng-content body>
        <div
            class="fc g-2"
            [formGroup]="attributeForm"
        >
            <div class="controls">
                <div class="control">
                    <label for="attrName">Name</label>
                    <input
                        type="text"
                        formControlName="Name"
                        autocomplete="none"
                        id="attrName"
                        #attrName
                    />
                </div>
                <div class="control">
                    <label for="attrType">Type</label>
                    <select
                        id="attrType"
                        formControlName="Type"
                    >
                        @for (x of attrTypeOptions; track $index) {
                        <option [ngValue]="x.value">
                            {{ x.name }}
                        </option>
                        }
                    </select>
                </div>
            </div>

            @if (showAttrOptions) {
            <div class="controls">
                <div class="control">
                    <label for="attrPrimaryKey">Primary Key</label>
                    <input
                        type="checkbox"
                        id="attrPrimaryKey"
                        formControlName="PrimaryKey"
                    />
                </div>
                <div class="control">
                    <label for="attrUnique">Unique</label>
                    <input
                        type="checkbox"
                        id="attrUnique"
                        formControlName="Unique"
                    />
                </div>
                <div class="control">
                    <label for="attrSystemField">SystemField</label>
                    <input
                        type="checkbox"
                        id="attrSystemField"
                        formControlName="SystemField"
                    />
                </div>
                @if (!isReference) {
                <div class="control with-hint">
                    <label for="attrDefault">Default Value</label>
                    <input
                        type="text"
                        id="attrDefault"
                        formControlName="Default"
                    />
                </div>
                }
            </div>
            }

            @if (isReference) {
            <div class="controls">
                <div class="control">
                    <label for="attrReference">Reference To</label>
                    <select
                        id="attrReference"
                        formControlName="ReferenceTo"
                    >
                        @for (x of referenceOptions; track $index) {
                        <option [ngValue]="x">{{ x.Name }}</option>
                        }
                    </select>
                </div>
            </div>
            }

            @if (showAttrOptions && !attributeForm.controls.Default.valid) {
            <div class="info">
                <small>
                    <strong>Default Value:</strong>
                    {{ attributeForm.controls.Type.value | defaultValueHint }}
                </small>
            </div>
            }

            @if (showAttrValidation) {
            <div class="controls">
                <div class="control">
                    <label for="attrRequired">Required</label>
                    <input
                        type="checkbox"
                        id="attrRequired"
                        formControlName="Required"
                    />
                </div>
                @if (attributeForm.controls.Type.value | minMaxRelevant) {
                <div class="control">
                    <label for="attrMin">
                        {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'min' }}
                    </label>
                    <input
                        type="number"
                        id="attrMin"
                        formControlName="Min"
                    />
                </div>
                <div class="control">
                    <label for="attrMax">
                        {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'max' }}
                    </label>
                    <input
                        type="number"
                        id="attrMax"
                        formControlName="Max"
                    />
                </div>
                }
            </div>
            }

            @if (showSmartAttributes) {
            <div class="chips">
                @for (x of smartSuggestions; track $index) {
                <span
                    tabindex="4"
                    (mouseup)="clickSmartSuggestion(x)"
                    class="chip clickable"
                >
                    {{ x.Name }}
                </span>
                }
            </div>
            }

            <div class="fr g-2">
                @if (!showSmartAttributes && smartSuggestions.length > 0) {
                <button
                    class="small-font"
                    (mouseup)="showSmartAttributes = true"
                >Show Suggestions</button>
                } @else if (showSmartAttributes) {
                <button
                    class="small-font"
                    (mouseup)="showSmartAttributes = false"
                >Hide Suggestions</button>
                }

                @if (showAttrValidation) {
                <button
                    class="small-font"
                    (mouseup)="showAttrValidation = false"
                >Remove Validation</button>
                } @else {
                <button
                    class="small-font"
                    (mouseup)="showAttrValidation = true"
                >Add Validation</button>
                }

                @if (showAttrOptions) {
                <button
                    class="small-font"
                    (mouseup)="showAttrOptions = false"
                >Remove Options</button>
                } @else {
                <button
                    class="small-font"
                    (mouseup)="showAttrOptions = true"
                >Add Options</button>
                }
            </div>
        </div>
    </ng-content>

    <ng-content footer>
        @if (selectedAttribute) {
        <button
            (mouseup)="clickDelAttribute()"
            class="error-hover"
        >Delete</button>
        }
    </ng-content>
</app-modal>
}