* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.slot {
    cursor: pointer;
    height: 1rem;
    font-size: 0;
    background-color: var(--accent-transparent);
}

.slot:hover {
    height: 2rem;
    font-size: 1rem;
    transition: ease-in-out 100ms;
}

.pink {
    background-color: var(--accent-transparent);
    border-left-width: 0.2rem;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    color: var(--black);
}

.pink:hover {
    transition: ease-in-out 100ms;
}

.dragging * {
    cursor: move;
}

.sticky {
    top: -1px;
    position: sticky;
    background-color: var(--white);
    padding-top: var(--space-sm);
}

button {
    padding: 0;
}


.table {
    position: absolute;
    width: min-content;
    background-color: white;

    border: 0.1rem solid var(--black-transparent);
    border-radius: var(--space-sm);
    padding: var(--space-sm) var(--space) var(--space-sm) var(--space);

    >span {
        color: var(--primary);
        font-weight: 700;
    }
}