<div
    class="section-parent table-boundary"
    id="root-editor"
>
    <canvas
        class="canvas"
        #canvas
        width="1000"
        height="1000"
    ></canvas>

    @for (s of data.schemas; track $index) {
    @for (t of s.Tables; track $index; let ti = $index) {
    <div
        [id]="'table:' + t.ID"
        class="table"
        cdkDrag
        cdkDragBoundary=".table-boundary"
        [cdkDragFreeDragPosition]="t.dragPosition"
        (cdkDragEnded)="doneDrag(t, $event)"
    >
        <div>
            <table>
                <tr>
                    <th> {{ t.Name | titlecase }} </th>
                    <th>
                        <i class="icon small accent-text">switch_access_shortcut</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">key</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">verified</i>
                    </th>
                    <th>
                        <i class="icon small accent-text">asterisk</i>
                    </th>
                    <th>

                    </th>
                </tr>
                @for (a of t.Attributes; track $index; let ai = $index) {
                <!-- Attribute -->
                <tr
                    class="can-hover"
                    (mouseup)="doShowModalAttribute(s, t, a)"
                    [id]="'attribute:' + a.ID"
                >

                    <td>
                        {{ a.Name | lowercase }}
                    </td>
                    <td>
                        @if (a.Type === 'REF') {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Option?.PrimaryKey) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Option?.Unique) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.Validation?.Required) {
                        <i class="icon small">check</i>
                        }
                    </td>
                    <td>
                        @if (a.warnings.length > 0) {
                        <div class="fc align-center justify-center">
                            @for (w of a.warnings; track $index) {
                            <span class="error">
                                {{ w }}
                            </span>
                            }
                        </div>
                        }
                    </td>
                </tr>
                }
            </table>

            <button
                type="button"
                mat-button
                (click)="doShowModalAttribute(s, t)"
            >
                <span> Attribute </span>
                <i class="icon small">add</i>
            </button>
        </div>
    </div>
    }
    }
</div>