<div class="top">
    <mat-tab-group
        [selectedIndex]="sideBarService.generatorModeSelectedIndex[0]"
        (selectedIndexChange)="selectedTabChanged($event); ClearOutput()"
    >
        @for (mode of sideBarService.generatorModeOptions; track $index; let i = $index) {
        <mat-tab [label]="mode.title"></mat-tab>
        }
    </mat-tab-group>
</div>

<mat-toolbar>

    @for (mode of sideBarService.generatorModeOptions; track $index; let i = $index) {
    @if(sideBarService.generatorModeSelectedIndex[0] === i){
    <mat-chip-set class="chips">
        @for (x of mode.items; track $index; let k = $index) {
        <mat-chip-option
            (mouseup)="sideBarService.generatorModeSelectedIndex = [i, k]; sideBarService.setGenMode(); ClearOutput()"
            [selected]="sideBarService.generatorModeSelectedIndex[0] === i && sideBarService.generatorModeSelectedIndex[1] === k"
        >
            {{x.name}}
            <!-- @if (x.icon) {
            <span matChipAvatar>
                <mat-icon>
                    {{x.icon}}
                </mat-icon>
            </span>
            } -->
        </mat-chip-option>
        }
    </mat-chip-set>
    }
    }

    <span class="toolbar-icon-spacer"></span>

    @if (appService.app.generatorMode | isSeedMode) {

    <button
        mat-icon-button
        aria-label="Regenerate"
        [matTooltip]="'Regenerate ' + appService.app.seedLimit  + ' records'"
        (click)="appService.RefreshOutput()"
    >

        <mat-icon>refresh</mat-icon>
    </button>
    <mat-slider
        min="1"
        max="50"
        value="10"
    >
        <input
            [matTooltip]="'Amount records: ' + appService.app.seedLimit "
            matSliderThumb
            [(ngModel)]="appService.app.seedLimit"
            (ngModelChange)="appService.RefreshOutput()"
            type="range"
        >
    </mat-slider>
    }

    <!-- <button
        mat-icon-button
        aria-label="Open syntax guide"
        (click)="OpenSyntaxGuide()"
    >
        <mat-icon>help</mat-icon>
    </button> -->
    <button
        matTooltip="Copy"
        mat-icon-button
        aria-label="Copy code"
        (click)="Copy()"
    >
        <mat-icon>content_copy</mat-icon>
    </button>
</mat-toolbar>


<div class="main">
    <pre
        #codeOutput
        style="display: block; width: min-content; height: min-content"
    ></pre>
</div>