<div class="fr p2">
    <select
        class="fr"
        [(ngModel)]="appService.app.generatorMode"
        (ngModelChange)="appService.setGenMode(); ClearOutput(); appService.Save()"
    >
        @for (mode of appService.generatorModeOptions; track $index; let i = $index) {
        <option [ngValue]="mode.value">
            {{ mode.title }}
        </option>
        }
    </select>

    <button
        title="Copy"
        aria-label="Copy code"
        (click)="Copy()"
    >
        <span class="icons">content_copy</span>
    </button>

    @if (appService.app.generatorMode | appModeCanPreview) {
    <button
        title="See a HTML Preview"
        aria-label="Preview HTML"
        (click)="OpenPreviewWindow()"
    >
        <span class="icons">
            preview
        </span>
    </button>
    }

    @if (appService.app.generatorMode | isSeedMode) {

    <button
        aria-label="Regenerate"
        [title]="'Regenerate ' + appService.app.seedLimit  + ' records'"
        (click)="appService.RefreshOutput(); appService.Save()"
    >
        <span class="icons">refresh</span>
    </button>

    <div>
        <input
            type="range"
            id="seed-size"
            min="1"
            max="50"
            value="10"
            step="1"
            [title]="'Amount records: ' + appService.app.seedLimit "
            [(ngModel)]="appService.app.seedLimit"
            (ngModelChange)="appService.RefreshOutput(); appService.Save()"
        />
        <label for="seed-size">Seed Size ({{appService.app.seedLimit}})</label>
    </div>
    }
</div>

<div class="scroll-box">
    <pre #codeOutput></pre>
</div>