textarea {
    background-color: rgba(0, 0, 0, 0);

    border: 0;

    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;

    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    resize: none;
}

textarea:focus {
    outline: 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    gap: 1rem;


}

@media (max-width: 1600px) {
    .grid-3 {
        display: grid;
        grid-template-columns: 48vw 48vw;
        gap: 1rem;
    }
}

@media (max-width: 900px) {
    .grid-3 {
        display: grid;
        grid-template-columns: 96vw;
        gap: 1rem;
    }
}

.box {
    overflow: auto;

    padding: 0.5rem;
    border-radius: 0.5rem;

    border: 1px solid black;
    border-radius: 0.5rem;

    min-height: 20rem;

    min-width: min(50rem, 90vw);
    max-width: 90vw;

}