textarea {
    margin: 0 1rem 0 1rem;
    padding: 0.35rem 1rem 0.35rem 1rem;
    border-radius: 0.5rem;


    border: 1px solid black;
    border-radius: 0.5rem;

    background-color: rgba(0, 0, 0, 0);

    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.1rem;

    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}