<div id="modaLTable" class="fs-modal">
    <div class="bd" (keyup)="doClickAway()" tabindex="0"></div>
    <div class="box">
        <div class="header">
            <span>
                {{ title }}
            </span>
            <div>
                <ng-content select="[header]"></ng-content>
            </div>
            <button (click)="doClickAway()" class="info-hover">X</button>
        </div>
        <div class="content">
            <ng-content select="[body]"></ng-content>
        </div>
        <div class="footer">
            <button (click)="doClickReject()" class="info-hover">
                {{ textReject }}
            </button>
            <div>
                <ng-content select="[footer]"></ng-content>
            </div>
            <button
                (click)="doClickAccept()"
                class="success-hover"
                [disabled]="disableAccept"
            >
                {{ textAccept }}
            </button>
        </div>
    </div>
</div>
