.fs-modal {
  z-index: 10;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .bd {
    z-index: 11;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .box {
    z-index: 12;
  }
}

.box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;

  background-color: white;
  border-radius: var(--space);
  min-width: 50vw;
  max-width: 80vw;
  max-height: 80vh;

  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space);
    font-size: 1.35rem;
    padding: var(--space-sm) var(--space) 0 var(--space);

    button:last-child {
      height: 2rem;
      width: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: var(--space);
    }
  }

  .content {
    border-top: 0.1rem solid var(--accent);
    border-bottom: 0.1rem solid var(--accent);
    padding: var(--space);
    overflow: auto;
  }

  .footer {
    padding: 0 var(--space) 0 var(--space);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space);
    padding: 0;
    border-bottom-right-radius: var(--space);
    border-bottom-left-radius: var(--space);

    button:first-child {
      border-bottom-left-radius: var(--space);
    }

    button:last-child {
      border-bottom-right-radius: var(--space);
    }
  }
}
