{{ define "_attribute" }}
<dialog>
    <h3>
        Attribute
    </h3>

    <p>Attribute is a property or single descriptor of an entity.</p>

    <form
        hx-post="/make/attribute"
        hx-target="#make-attribute"
        hx-swap="innerText"
        hx-trigger="change delay:500ms, keyup delay:500ms"
        class="fc g2"
    >
        {{ template "fields.attribute" . }}
    </form>

    <pre id="make-attribute"></pre>

    <div class="fr g1">
        <form method="dialog">
            <button>
                Close
            </button>
        </form>
    </div>
</dialog>
{{ end }}