{{ define "_entity" }}
<dialog>
    <h3>
        Entity
    </h3>

    <p>Entity should be a singular thing. A table / blueprint.</p>

    <form
        hx-post="/make/entity"
        hx-target="#make-entity"
        hx-swap="innerText"
        hx-trigger="keyup delay:500ms changed"
    >
        <div>
            <label for="EntityName">Name</label>
            <input
                type="text"
                name="EntityName"
                id="EntityName"
            >
        </div>
    </form>

    <pre id="make-entity"></pre>

    <div class="fr g1">
        <form method="dialog">
            <button>
                Close
            </button>
        </form>
    </div>
</dialog>
{{ end }}