{{ define "examples" }}
<dialog>
    <h3>
        Examples
    </h3>
    <p>
        Examples REPLACE existing entry.
    </p>
    <div class="fr g1">
        {{- range $index, $element := .Examples }}
        <button
            hx-post="/change"
            hx-trigger="click"
            type="submit"
            name="example"
            hx-swap="none"
            value="{{ $element.Value }}"
        >
            {{- $element.Label }}
        </button>
        {{- end }}

        <form method="dialog">
            <button>
                Close
            </button>
        </form>
    </div>
</dialog>
{{ end }}