{{ define "settings" }}
<dialog>
    <h3>
        Settings
    </h3>

    <form class="fc g2">
        <fieldset>
            <legend>Input Mode:</legend>
            <div>
                <input
                    hx-post="/change"
                    hx-trigger="change"
                    hx-swap="none"
                    type="radio"
                    name="mode"
                    id="mode-text"
                    value="1"
                    {{ if eq .Client.Input.Mode 1 }}checked{{ end }}
                />
                <label for="mode-text">Text Mode</label>
            </div>
            <div>
                <input
                    hx-post="/change"
                    hx-trigger="change"
                    hx-swap="none"
                    type="radio"
                    name="mode"
                    id="mode-graphical"
                    value="2"
                    {{ if eq .Client.Input.Mode 2 }}checked{{ end }}
                />
                <label for="mode-graphical">Graphical Mode</label>
            </div>
        </fieldset>

        <div class="fr g1">
            <form method="dialog">
                <button>
                    Close
                </button>
            </form>
        </div>
    </form>
</dialog>
{{ end }}