.main {
    height: calc(100vh - 8rem);
    width: 100vw;
    padding: 0 1rem 1rem 0;
    overflow: auto;
}

.input-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;

    >.input-box,
    >div.render-box,
    >div.render-suggestion-box {
        position: absolute;
        inset: 0;

        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;

        font-family: 'Courier New', Courier, monospace;
        border: 0;
        border-radius: 0;
        padding: 1rem 2rem 1rem 2rem;

        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }

    >.input-box {
        background-color: rgb(0, 0, 0, 0);
        // color: rgba(255, 122, 122, .7);
        color: rgba(0, 0, 0, 0);
        caret-color: black;
        resize: none;
        outline: none;
    }

    >div.render-suggestion-box {
        color: white;
        background-color: var(--mat-sidenav-content-background-color, var(--mat-sys-background));
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.21rem;

        >.is-suggestion {
            padding-left: 1.5rem;
            color: #d91e18;
        }
    }

    >div.render-box {
        color: black;
        background-color: rgb(0, 0, 0, 0);

        >.is-shortcut {
            color: #aa5d00;
        }

        >.is-delimiter {
            color: #7928a1;
        }

        >.is-header {
            color: #007faa;
        }
        
        // >.is-string {
        //     color: #008000;
        // }
    }
}