.main {
    height: calc(100vh - 8rem);
    width: calc(100vw - 2rem);
    margin: 0 auto 0 auto;
    overflow: auto;
}

.input-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;

    >.input-box {
        border: 1px solid rgb(0, 0, 0, 0.35);
        border-radius: 0.8rem;
    }

    >.input-box:focus {
        transition: ease-in-out 200ms;
        border: 1px solid #005CBB;
        border-radius: 0.8rem;
    }

    >.input-box,
    >div.render-box,
    >div.render-suggestion-box {
        position: absolute;
        inset: 0;
        overflow: hidden;

        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;

        font-family: 'Courier New', Courier, monospace;
        padding: 1rem;

        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }

    >.input-box {
        background-color: rgb(0, 0, 0, 0);
        // color: rgba(122, 122, 255, .7);
        color: rgba(0, 0, 0, 0);
        caret-color: black;
        resize: none;
        outline: none;
    }

    >div.render-suggestion-box {
        color: rgba(0, 0, 0, 0);
        background-color: var(--mat-sidenav-content-background-color, var(--mat-sys-background));
        // background: #fefefe;

        font-size: 0.8rem;
        letter-spacing: 0.21rem;

        >.is-suggestion {
            padding-left: 1rem;
            color: #696969;
        }

        >.is-error {
            padding-left: 1.5rem;
            color: #d91e18;
        }
    }

    >div.render-box {
        color: #545454;

        background-color: rgb(0, 0, 0, 0);

        >.is-shortcut {
            color: #aa5d00;
        }

        >.is-delimiter {
            color: #7928a1;
        }

        >.is-header {
            color: #007faa;
        }

        // >.is-string {
        //     color: #008000;
        // }
    }
}