.input-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;

    >.input-box,
    >div.render-box {
        position: absolute;
        inset: 0;

        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
        border: 0;
        border-radius: 0;
        padding: 1rem;

        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }

    >.input-box {
        background-color: rgb(0, 0, 0, 0);
        // color: rgba(255, 122, 122, .7);
        color: rgba(0, 0, 0, 0);
        caret-color: black;
        resize: none;
        outline: none;
    }

    >div.render-box {
        color: black;
        // background-color: rgb(252, 245, 229);    
        background-color: var(--mat-sidenav-content-background-color, var(--mat-sys-background));

        >.is-ref {
            color: #aa5d00;
        }

        >.is-delimiter {
            color: #7928a1;
        }

        >.is-header {
            color: #007faa;
        }
    }
}

.main {
    height: calc(100vh - 8rem);
    width: 100vw;
    padding: 0 1rem 1rem 0;
    overflow: auto;
}