<div class="fr p2">
    <button
        title="Undo"
        aria-label="Undo the last change"
        (click)="Undo()"
        [disabled]="textEditorService.textInputUndoStack.length === 0"
    >
        <span class="icons">undo</span>
    </button>
    <button
        title="Redo"
        aria-label="Redo the last change"
        (click)="Redo()"
        [disabled]="textEditorService.textInputRedoStack.length === 0"
    >
        <span class="icons">redo</span>
    </button>
    <button
        title="Toggle syntax mode"
        aria-label="Change syntax size"
        (click)="ToggleMode()"
    >
        <span class="icons">tune</span>
    </button>
    <button
        title="Clean & Format"
        aria-label="Format code"
        [disabled]="textEditorService.justCleaned"
        (click)="Format()"
    >
        <span class="icons">dry_cleaning</span>
    </button>
    <button
        title="Copy"
        aria-label="Copy code"
        (click)="Copy()"
    >
        <span class="icons">content_copy</span>
    </button>
</div>
<div class="scroll-box">
    <div
        class="input-container"
        #inputContainer
    >
        <div
            class="render-box"
            #renderBox
        >
            @for (el of renderElements; track $index) {
            @if (el.innerText === NEWLINE) {
            <br />
            } @else if (el.class) {
            <span [class]="el.class">{{ el.innerText }}</span>
            } @else {
            <span>{{ el.innerText }}</span>
            }
            }
        </div>

        <textarea
            #textEditor
            spellcheck="false"
            (blur)="textEditorService.focused = false"
            (focus)="textEditorService.focused = true"
            [(ngModel)]="textEditorService.textInput"
            (ngModelChange)="Run()"
            class="input-box"
        ></textarea>
    </div>
</div>


<!-- <div class="copy-button">
    <button
        
        aria-label="Copy the generate code"
        (click)="Copy()"
    >
        <span class="icons">content_copy</span>
    </button>
</div> -->