.main {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.input-container {
    position: relative;
    overflow: auto;

    margin: 0 1rem 0 1rem;
    padding: 0.35rem 1rem 0.35rem 1rem;
    border-radius: 0.5rem;

    >.input-box,
    >div.render-box {
        position: absolute;
        inset: 0;

        border: 0;
        border-radius: 0;

        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;

        font-family: 'Courier New', Courier, monospace;
        padding: 1rem;

        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;
    }

    >.input-box {
        background-color: rgb(0, 0, 0, 0);
        // color: rgba(122, 122, 255, .7);
        color: rgba(0, 0, 0, 0);
        caret-color: black;
        resize: none;
        outline: none;
    }

    >div.render-box {
        color: #545454;

        background-color: rgb(0, 0, 0, 0);

        .is-message {
            padding: 0 0.5rem 0 0.5rem;
            margin: 0 0.5rem 0 0.5rem;
            border-radius: 0.35rem;
        }

        >.is-shortcut {
            color: rgb(170, 93, 0);
            // background-color: rgba(170, 93, 0, 0.085);
        }

        >.is-delimiter {
            color: rgb(121, 40, 161);
            // background-color: rgba(121, 40, 161, 0.085);
        }

        >.is-header {
            color: rgb(0, 127, 170);
            // background-color: rgba(0, 127, 170, 0.085);
        }

        >.is-suggestion {
            color: rgb(105, 105, 105);
            background-color: rgba(105, 105, 105, 0.085);
        }

        >.is-error {
            background-color: rgba(217, 30, 24, 0.085);
            color: #d91e18;
        }

        // >.is-string {
        //     color: #008000;
        // }
    }
}