<div class="container-split">
    <div class="side">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Code </mat-panel-title>
                    <!-- <mat-panel-description> </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div>
                    <p>
                        <strong>Disclaimer: </strong> Invalid syntax will be discarded
                    </p>
                    <table>
                        <tr>
                            <td>
                                <button
                                    mat-fab
                                    extended
                                    (click)="HardRefresh()"
                                >
                                    Format
                                    <mat-icon>grading</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Attribute Syntax </mat-panel-title>
                    <!-- <mat-panel-description> </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div>
                    <p>
                        <strong>Disclaimer: </strong> Invalid syntax will be discarded. Code will be formatted.
                    </p>
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Type</mat-label>
                                    <mat-select
                                        [(ngModel)]="dataService.app.textEditorSyntax.attributes"
                                        (ngModelChange)="HardRefresh()"
                                    >
                                        @for (x of dataService.textEditorSyntaxAttributeOptions; track $index) {
                                        <mat-option [value]="x.value">{{ x.name }}</mat-option>
                                        }
                                    </mat-select>
                                    <!-- @if (dataService.app.textEditorSyntax.attributes === "Expanded") {
                                    <mat-hint align="start"> timestamp, string </mat-hint>
                                    } @else {
                                    <mat-hint align="start"> ts, str </mat-hint>
                                    } -->
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label>Options</mat-label>
                                    <mat-select
                                        [(ngModel)]="dataService.app.textEditorSyntax.options"
                                        (ngModelChange)="HardRefresh()"
                                    >
                                        @for (x of dataService.textEditorSyntaxOptionsOptions; track $index) {
                                        <mat-option [value]="x.value">{{ x.name }}</mat-option>
                                        }
                                    </mat-select>
                                    <!-- @if (dataService.app.textEditorSyntax.options === "Expanded") {
                                    <mat-hint align="start"> required, unique </mat-hint>
                                    } @else {
                                    <mat-hint align="start"> r, u </mat-hint>
                                    } -->
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="main">
        <div class="input-container">
            <div class="render-box">
                @for (el of renderElements; track $index) {
                @if (el.innerText === NEWLINE) {
                <br />
                } @else if (el.class) {
                <span [class]="el.class">{{ el.innerText }}</span>
                } @else {
                <span>{{ el.innerText }}</span>
                }
                }
            </div>
            <textarea
                [(ngModel)]="dataService.textInput"
                (ngModelChange)="Run()"
                class="input-box"
            ></textarea>
        </div>
    </div>
</div>