.scroll-thing {
    max-height: calc(100vh - 8rem);
    overflow: auto;
}

.input-container {
    position: relative;
    overflow: auto;

    margin: 0 1rem 0 1rem;
    padding: 0.35rem 1rem 0.35rem 1rem;
    border-radius: 0.5rem;

    >.input-box,
    >div.render-box {
        position: absolute;
        overflow: hidden;
        inset: 0;

        border: 0;
        border-radius: 0;

        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1rem;

        font-family: 'Courier New', Courier, monospace;
        padding: 1rem;

        white-space: pre;
        overflow-wrap: normal;
        overflow-x: scroll;

    }

    >.input-box {
        background-color: rgb(0, 0, 0, 0);
        // color: rgba(122, 122, 255, .7);
        color: rgba(0, 0, 0, 0);
        caret-color: white;
        resize: none;
        outline: none;
        min-width: 30rem;
    }

    >div.render-box {
        min-width: 30rem;
        
        color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));

        .is-message {
            padding: 0 0.5rem 0 0.5rem;
            margin: 0 0.5rem 0 0.5rem;
            border-radius: 0.35rem;
        }

        >.is-shortcut {
            color: #98c379
            // background-color: rgba(170, 93, 0, 0.085);
        }

        >.is-delimiter {
            color: #c678dd;
            // background-color: rgba(121, 40, 161, 0.085);
        }

        >.is-header {
            color: rgb(97, 175, 240);
            // background-color: rgba(0, 127, 170, 0.085);
        }

        >.is-suggestion {
            color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
            background-color: rgba(97, 175, 240, 0.2);
        }

        >.is-error {
            background-color: rgba(217, 30, 24, 0.085);
            color: #be5046
        }

        // >.is-string {
        //     color: #008000;
        // }
    }
}