<mat-toolbar>
    <button
        mat-icon-button
        aria-label="Undo the last change"
        (click)="Undo()"
        [disabled]="textEditorService.textInputUndoStack.length === 0"
    >
        <mat-icon>undo</mat-icon>
    </button>
    <button
        mat-icon-button
        aria-label="Redo the last change"
        (click)="Redo()"
        [disabled]="textEditorService.textInputRedoStack.length === 0"
    >
        <mat-icon>redo</mat-icon>
    </button>
    <span class="toolbar-icon-spacer"></span>
    <button
        mat-icon-button
        aria-label="Open syntax guide"
        (click)="OpenSyntaxGuide()"
    >
        <mat-icon>help</mat-icon>
    </button>
    <button
        mat-icon-button
        aria-label="Change syntax size"
        (click)="ToggleMode()"
    >
        <mat-icon>tune</mat-icon>
    </button>
    <button
        mat-icon-button
        aria-label="Format code"
        [disabled]="justCleaned"
        (click)="HardRefresh()"
    >
        <mat-icon>dry_cleaning</mat-icon>
    </button>
    <button
        mat-icon-button
        aria-label="Copy code"
        (click)="Copy()"
    >
        <mat-icon>content_copy</mat-icon>
    </button>
</mat-toolbar>

<div class="main">
    <div class="input-container" #inputContainer>
        <div class="render-suggestion-box">
            @for (el of renderSuggestionElements; track $index) {
            @if (el.innerText === NEWLINE) {
            <br />
            } @else if (el.class) {
            <span [class]="el.class">{{ el.innerText }}</span>
            } @else {
            <span>{{ el.innerText }}</span>
            }
            }
        </div>

        <div class="render-box">
            @for (el of renderElements; track $index) {
            @if (el.innerText === NEWLINE) {
            <br />
            } @else if (el.class) {
            <span [class]="el.class">{{ el.innerText }}</span>
            } @else {
            <span>{{ el.innerText }}</span>
            }
            }
        </div>

        <textarea
            #textEditor
            spellcheck="false"
            (blur)="textEditorService.focused = false"
            (focus)="textEditorService.focused = true"
            [(ngModel)]="textEditorService.textInput"
            (ngModelChange)="Run();"
            class="input-box"
        ></textarea>
    </div>
</div>


<!-- <div class="copy-button">
    <button
        mat-fab
        aria-label="Copy the generate code"
        (click)="Copy()"
    >
        <mat-icon>content_copy</mat-icon>
    </button>
</div> -->