<h2 mat-dialog-title>Folder</h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="schemaForm">
        <table cellspacing="8">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Folder Name</mat-label>
                        <input
                            cdkFocusInitial
                            matInput
                            formControlName="Name"
                        >
                        <mat-hint align="start"> For storing blueprints </mat-hint>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-button
        mat-dialog-close
    >
        Cancel
    </button>
    @if (data.s) {
    <button
        mat-button
        (click)="clickDelSchema()"
    >
        Delete
    </button>
    }
    <button
        [disabled]="schemaForm.invalid"
        mat-button
        (click)="clickDelSchema()"
    >
        Save
    </button>
</mat-dialog-actions>