<table cellspacing="8">
    <tr>
        <mat-chip-set aria-label="Fish selection">
            @for (mode of generatorModeOptions; track $index; let i = $index) {
            @for (x of mode.items; track $index; let k = $index) {
            <mat-chip-option
                (mouseup)="generatorModeSelectedIndex = [i, k]; setGenMode()"
                [selected]="generatorModeSelectedIndex[0] === i && generatorModeSelectedIndex[1] === k"
            >
                {{ mode.title }} - {{x.name}}

                <!-- @if (x.icon) {
                                            <span matChipAvatar>
                                                <mat-icon>
                                                    {{x.icon}}
                                                </mat-icon>
                                            </span>
                                            } -->
            </mat-chip-option>
            }
            }
        </mat-chip-set>
    </tr>
    <tr>

        <table cellspacing="8">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Config File</mat-label>
                        <mat-select
                            [(ngModel)]="data.app.mode"
                            (ngModelChange)="data.ReloadAndSave()"
                        >
                            @for (x of modeOptions; track $index) {
                            <mat-option [value]="x.value">{{ x.name }}</mat-option>
                            }
                        </mat-select>
                        <mat-hint align="start"> Save for later </mat-hint>
                    </mat-form-field>
                </td>
                <td>
                    <button
                        mat-icon-button
                        aria-label="Copy config file"
                        (mouseup)="copyConfig()"
                    >
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button
                        mat-fab
                        extended
                        (click)="doShowModalSchema()"
                    >
                        Folder
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button
                        mat-fab
                        extended
                        (click)="doShowModalTable()"
                    >
                        Blueprint
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </tr>
    <tr>
        @if(data.app.generatorMode | isSeedMode){
        <table>
            <tr>
                <td>
                    <mat-slider
                        min="1"
                        max="50"
                        value="10"
                    >
                        <input
                            matSliderThumb
                            [(ngModel)]="data.app.seedLimit"
                            (ngModelChange)="debounceReload()"
                            type="range"
                        >
                    </mat-slider>
                </td>
            </tr>
            <tr>
                <td>
                    <button
                        mat-fab
                        extended
                        (click)="doShowModalTable()"
                    >
                        Regenerate (size: {{data.app.seedLimit}})
                        <mat-icon>refresh</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        }
    </tr>
</table>