<div class="section-parent">
    <div class="section-scroll">

        <div class="sticky">
            <div class="output-groups">
                @for (x of generatorModeOptions; track $index; let i = $index) {
                <div
                    class="output-group"
                    [ngClass]="{
            'output-group-active': generatorModeSelectedIndex[0] === i,
            'can-hover': generatorModeSelectedIndex[0] !== i,
        }"
                >
                    <span
                        (mouseup)="generatorModeSelectedIndex[0] = i; generatorModeSelectedIndex[1] = 0;  setGenMode()"
                    >
                        {{ x.title }}
                    </span>
                    @if (generatorModeSelectedIndex[0] === i) {
                    @for (x of x.items; track $index; let k = $index) {
                    <div
                        class="output-item"
                        [ngClass]="{
                        'output-item-active': generatorModeSelectedIndex[1] === k,
                        'can-hover': generatorModeSelectedIndex[1] !== k,
                    }"
                    >
                        <span (mouseup)="generatorModeSelectedIndex[1] = k; setGenMode()">
                            {{x.name}}
                        </span>
                    </div>
                    }
                    }
                </div>
                }
            </div>
        </div>
    </div>
</div>