{{- block "parseFloat" . }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := strconv.ParseFloat(raw{{ renderPascal .Name }}, 64)
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- end }}
{{- block "parseInt" . }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := strconv.Atoi(raw{{ renderPascal .Name }})
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- end }}
{{- define "parseprimary" }}
{{- if eq .Final.Kind 1 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	var {{ renderCamel .Name }} string
	parsed{{ renderPascal .Name }}, err := strconv.ParseUint(raw{{ renderPascal .Name }}, 2, {{ .Final.Max.String }})
	if err == nil {
		{{ renderCamel .Name }} = fmt.Sprintf("%0{{ .Final.Max.String }}b", parsed{{ renderPascal .Name }})
	} else {
		int{{ renderPascal .Name }}, err := strconv.ParseUint(raw{{ renderPascal .Name }}, 10, {{ .Final.Max.String }})
		if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
		}
		{{ renderCamel .Name }} = fmt.Sprintf("%0{{ .Final.Max.String }}b", int{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 2 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := time.Parse(time.DateOnly, raw{{ renderPascal .Name }})
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 3 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	if len({{ renderPascal .Name }}) != 1 {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 4 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := time.Parse(time.TimeOnly, raw{{ renderPascal .Name }})
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 5 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := time.Parse(time.DateTime, raw{{ renderPascal .Name }})
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 6 }}
{{ template "parseFloat" . }}
{{- else if eq .Final.Kind 7 }}
{{ template "parseFloat" . }}
{{- else if eq .Final.Kind 8 }}
{{ template "parseFloat" . }}
{{- else if eq .Final.Kind 9 }}
{{ template "parseInt" . }}
{{- else if eq .Final.Kind 10 }}
{{ template "parseInt" . }}
{{- else if eq .Final.Kind 11 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	raw{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	{{ renderCamel .Name }}, err := strconv.ParseBool(raw{{ renderPascal .Name }})
	if err != nil {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 12 }}
	key{{ renderPascal .Name }} := "{{ renderKebab .Name }}"
	{{ renderPascal .Name }} := r.PathValue(key{{ renderPascal .Name }})
	if len({{ renderPascal .Name }}) == 0 {
		return {{ range $index, $element := $.Source.Parent.Primary }}{{ if ne $index 0 }}, {{ end }}{{ renderGoEmptyValue $element }}{{ end }}, NewErrBadParam(key{{ renderPascal .Name }})
	}
{{- else if eq .Final.Kind 13 }}
{{ template "parseFloat" . }}
{{- else if eq .Final.Kind 14 }}
???
{{- else }}
???
{{- end}}
{{- end}}