package {{ renderCamel .Name }}

import (
	"encoding/json"
	"errors"
	"fmt"
	"io"
	"net/http"
	"strconv"
	"time"
)
{{- range $index, $element := .Entities }}
{{ template "handler" $element }}
{{- end }}