<h2 mat-dialog-title>Attribute</h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="attributeForm">
        <table cellspacing="8">
            <tr>
                <td>
                </td>
            </tr>
        </table>

        <div class="controls">
            <div class="control">
                <label for="attrName">Name</label>
                <input
                    cdkFocusInitial
                    type="text"
                    formControlName="Name"
                    autocomplete="none"
                    id="attrName"
                />
            </div>
            <div class="control">
                <label for="attrType">Type</label>
                <select
                    id="attrType"
                    formControlName="Type"
                >
                    @for (x of attrTypeOptions; track $index) {
                    <option [ngValue]="x.value">
                        {{ x.name }}
                    </option>
                    }
                </select>
            </div>
        </div>

        @if (showAttrOptions) {
        <div class="controls">
            <div class="control">
                <label for="attrPrimaryKey">Primary Key</label>
                <input
                    type="checkbox"
                    id="attrPrimaryKey"
                    formControlName="PrimaryKey"
                />
            </div>
            <div class="control">
                <label for="attrUnique">Unique</label>
                <input
                    type="checkbox"
                    id="attrUnique"
                    formControlName="Unique"
                />
            </div>
            <div class="control">
                <label for="attrSystemField">SystemField</label>
                <input
                    type="checkbox"
                    id="attrSystemField"
                    formControlName="SystemField"
                />
            </div>
            @if (!isReference) {
            <div class="control with-hint">
                <label for="attrDefault">Default Value</label>
                <input
                    type="text"
                    id="attrDefault"
                    formControlName="Default"
                />
            </div>
            }
        </div>
        }

        @if (isReference) {
        <div class="controls">
            <div class="control">
                <label for="attrReference">Reference To</label>
                <select
                    id="attrReference"
                    formControlName="ReferenceTo"
                >
                    @for (x of referenceOptions; track $index) {
                    <option [ngValue]="x">{{ x.Name }}</option>
                    }
                </select>
            </div>
        </div>
        }

        @if (showAttrOptions && !attributeForm.controls.Default.valid) {
        <div class="info">
            <small>
                <strong>Default Value:</strong>
                {{ attributeForm.controls.Type.value | defaultValueHint }}
            </small>
        </div>
        }

        @if (showAttrValidation) {
        <div class="controls">
            <div class="control">
                <label for="attrRequired">Required</label>
                <input
                    type="checkbox"
                    id="attrRequired"
                    formControlName="Required"
                />
            </div>
            @if (attributeForm.controls.Type.value | minMaxRelevant) {
            <div class="control">
                <label for="attrMin">
                    {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'min' }}
                </label>
                <input
                    type="number"
                    id="attrMin"
                    formControlName="Min"
                />
            </div>
            <div class="control">
                <label for="attrMax">
                    {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'max' }}
                </label>
                <input
                    type="number"
                    id="attrMax"
                    formControlName="Max"
                />
            </div>
            }
        </div>
        }

        @if (showSmartAttributes) {
        <div class="chips">
            @for (x of smartSuggestions; track $index) {
            <span
                tabindex="4"
                (mouseup)="clickSmartSuggestion(x)"
                class="chip clickable"
            >
                {{ x.Name }}
            </span>
            }
        </div>
        }

        <div class="fr g-2">
            @if (!showSmartAttributes && smartSuggestions.length > 0) {
            <button
                class="small-font"
                (mouseup)="showSmartAttributes = true"
            >Show Suggestions</button>
            } @else if (showSmartAttributes) {
            <button
                class="small-font"
                (mouseup)="showSmartAttributes = false"
            >Hide Suggestions</button>
            }

            @if (showAttrValidation) {
            <button
                class="small-font"
                (mouseup)="showAttrValidation = false"
            >Remove Validation</button>
            } @else {
            <button
                class="small-font"
                (mouseup)="showAttrValidation = true"
            >Add Validation</button>
            }

            @if (showAttrOptions) {
            <button
                class="small-font"
                (mouseup)="showAttrOptions = false"
            >Remove Options</button>
            } @else {
            <button
                class="small-font"
                (mouseup)="showAttrOptions = true"
            >Add Options</button>
            }
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-button
        mat-dialog-close
    >
        Cancel
    </button>
    @if (data.a) {
    <button
        mat-button
        (click)="clickDelAttribute()"
    >
        Delete
    </button>
    }
    <button
        [disabled]="attributeForm.invalid"
        mat-button
        (click)="clickSaveAttribute()"
    >
        Save
    </button>
</mat-dialog-actions>