<h2 mat-dialog-title>Attribute</h2>

<!-- {{attributeForm.controls.Name.errors|json}}
{{attributeForm.controls.Type.errors|json}}
{{attributeForm.controls.PrimaryKey.errors|json}}
{{attributeForm.controls.Readonly.errors|json}}
{{attributeForm.controls.Unique.errors|json}}
{{attributeForm.controls.Default.errors|json}}
{{attributeForm.controls.SystemField.errors|json}}
{{attributeForm.controls.Required.errors|json}}
{{attributeForm.controls.ReferenceTo.errors|json}}
{{attributeForm.controls.Min.errors|json}}
{{attributeForm.controls.Max.errors|json}} -->

<mat-dialog-content class="mat-typography">
    <div [formGroup]="attributeForm">
        <table cellspacing="8">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input
                            cdkFocusInitial
                            matInput
                            formControlName="Name"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="Type">
                            <mat-option>None</mat-option>
                            @for (x of attrTypeOptions; track $index) {
                            <mat-option [value]="x.value">
                                {{ x.name }}
                            </mat-option>
                            }
                        </mat-select>
                        <mat-hint align="start"> Another Blueprint </mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            @if (!isReference && attributeForm.controls.Type.value !== "SERIAL") {
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Default</mat-label>
                        <input
                            matInput
                            formControlName="Default"
                        >
                        @if (!attributeForm.controls.Default.valid) {
                        <mat-hint align="start"> {{ attributeForm.controls.Type.value | defaultValueHint }} </mat-hint>
                        }
                    </mat-form-field>
                </td>
            </tr>
            } @else if (isReference && attributeForm.controls.Type.value !== "SERIAL") {
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Reference To</mat-label>
                        <mat-select formControlName="ReferenceTo">
                            <mat-option>None</mat-option>
                            @for (x of referenceOptions; track $index) {
                            <mat-option [value]="x">
                                {{ x.Name }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            }
            @if (attributeForm.controls.Type.value | minMaxRelevant) {
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>
                            {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'min' }}
                        </mat-label>
                        <input
                            cdkFocusInitial
                            matInput
                            formControlName="Min"
                        >
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>
                            {{ attributeForm.controls.Type.value | minMaxLabelFromAttrType: 'max' }}
                        </mat-label>
                        <input
                            cdkFocusInitial
                            matInput
                            formControlName="Max"
                        >
                    </mat-form-field>
                </td>

            </tr>
            }
            <tr>
                <td>
                    <mat-checkbox formControlName="PrimaryKey">
                        Primary Key
                    </mat-checkbox>
                    <mat-checkbox formControlName="Required">
                        Required
                    </mat-checkbox>
                </td>
                <td>
                    <mat-checkbox formControlName="Unique">
                        Unique
                    </mat-checkbox>
                    <mat-checkbox formControlName="SystemField">
                        System Field
                    </mat-checkbox>
                </td>
            </tr>
        </table>

        @if(!data.a) {
        <mat-divider></mat-divider>
        <h3>Quicksets</h3>
        <mat-chip-set aria-label="Fish selection">
            @for (x of presetAttributes; track $index) {
            <mat-chip (click)="clickSmartSuggestion(x)">
                {{ x.Name }}
            </mat-chip>
            }
        </mat-chip-set>
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-button
        mat-dialog-close
    >
        Cancel
    </button>
    @if (data.a) {
    <button
        mat-button
        (click)="clickDelAttribute()"
    >
        Delete
    </button>
    }
    <button
        [disabled]="attributeForm.invalid"
        mat-button
        (click)="clickSaveAttribute()"
    >
        Save
    </button>
</mat-dialog-actions>