
.group {
    padding: var(--space-sm) var(--space) var(--space-sm) var(--space);
    // border-left: 0.1rem solid black;
    margin-left: var(--space);
}

.group:hover {
    // border-left: 0.1rem solid black;
    margin-left: var(--space);
}