@import url("./../public/roboto/roboto.css");
@import url("./../public/icons/icons.css");

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.p1 {
    padding: 0.5rem;
}

.p2 {
    padding: 0.5rem;
}

.toolbar-icon-spacer {
    flex: 1 1 auto;
}

.copy-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

pre,
p,
span,
li,
button,
label,
input {
    font-size: 16px;
}

code {
    font-size: 14px;
}