/* You can add global styles to this file, and also import other style files */

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url('../public/material-icons.woff2') format('woff2');
}

.icon {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('../public/Roboto.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


.p1 {
    padding: 0.5rem;
}

.p2 {
    padding: 0.5rem;
}

.toolbar-icon-spacer {
    flex: 1 1 auto;
}

.copy-button {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}