@import url("./../public/roboto/roboto.css");
@import url("./../public/icons/icons.css");

html,
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--mat-background-color, var(--mat-sys-background));
}

.p1 {
    padding: 0.5rem;
}

.p2 {
    padding: 0.5rem;
}

.toolbar-icon-spacer {
    flex: 1 1 auto;
}

.h100 {
    height: 100%;
}

.fc {
    display: flex;
    flex-direction: column;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fw {
    flex-wrap: wrap;
}

.g1 {
    gap: 0.5rem;
}

.g2 {
    gap: 1rem;
}

.center {
    align-items: center;
    justify-content: center;
}
