{{ define "content" }}

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About</h1>
            <h2 class="subtitle">A bit about me and this site.

            </h2>
        </div>
    </div>
</section>

{{ template "navbar" . }}

<section class="section">
    <div class="container content">
        <h2 class="title">Boilerplate Tool</h2>
        <p>This whole project started on a road trip when I realized how much fun generating SQL queries could be. I
            dove into it, but then put it on hold for a few months. Then a colleague showed me the Phoenix
            Framework,
            and I was hooked. It felt like a breath of fresh air, built by folks who were fed up with the usual web
            development headaches. I spent some time digging through the documentation and picked up a lot about
            Phoenix
            and web design best practices. It was mostly new territory for me, but it reignited my passion to create
            something unique with what I learned.
        </p>
        <p>So, why not just stick with Phoenix?</p>
        <ul>
            <li>I'm really curious about Elixir and its different approaches to problem-solving, especially with the
                functional paradigm, but it's not something I use at work.
            </li>
            <li>Elixir's atoms and macros are intriguing, but I still find them a bit hard to trust - they seem a
                little
                arbitrary at times.
            </li>
            <li>I wanted to step away from JavaScript in my free time, but Elixir's lack of a strict type system
                reminds
                me too much of it. I've wasted too much time debugging <strong>xyzHtml</strong> versus
                <strong>xyzHTML</strong>.
            </li>
        </ul>
        <p>Despite these bumps in the road, I'm still really excited about the Phoenix Framework and its innovative
            take
            on web design and problem-solving. I'm hoping to build something special that showcases everything I've
            picked up along the way.
        </p>

        <h2 class="title">Development Stage</h2>
        <p>
            This project is still very much a work in progress, with updates coming out about once a week. Right
            now,
            I'm focused on getting the app up and running, so I'm mostly exploring different ideas.
        </p>
        <p> There's some interesting stuff in here - I just added pagination, which I think is pretty cool. But, as
            with
            most things, I might change how it's implemented down the line. For example, there's a lot of duplicated
            code for transactions, and I keep reading template files unnecessarily. I know these are things I need
            to
            tackle, just not at the moment. </p>

        <h2 class="title">PostgreSQL</h2>
        <p>

            Things are looking promising, especially with the recent addition of unique indexes on foreign keys.
            It's
            been a while since I tested the outputs, but it worked with the default example for the Go app.
        </p>
        <p>
            I want to implement migrations and seed data, something I picked up while learning Phoenix, but I
            haven't
            gotten around to it yet. Migrations would help me manage changes to the database schema as the project
            evolves, and seeding data would streamline setting up the initial state for development and testing. I
            see
            how useful these features could be and plan to add them once I get more settled with everything else.
        </p>

        <h2 class="title">Go</h2>
        <p>
            I've been testing outputs and things have been going well so far, but I'm constantly dealing with edge
            cases, so you might run into a few too.
        </p>

    </div>
</section>

{{ template "footer" . }}{{ end }}