{{ define "content" }}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Dev Toolbox</h1>
            <h2 class="subtitle">Just Code.</h2>
        </div>
    </div>
</section>

{{ template "navbar" . }}

<section class="section">
    <div class="container content">
        <h2 class="title">A Site for Me</h2>
        <p>
            I love creating websites. I'm not sure if it's the accessibility they provide in sharing my work or the
            excitement of seeing my first words appear on screen. After a few years of experimenting, I've repurposed
            this domain for various ideas, and now it's home to another project. You can learn more about the current
            state of the site on the <a href="/about">About page</a>.
        </p>
        <h2 class="title">A Site for You</h2>
        <p>
            As I build things, I recently decided also want to create something useful for others. My goal is to make
            the initial hurdles of starting projects less daunting. For now, the main feature of the site is the
            boilerplate section. <a href="/boilerplate">Check it out!</a>
        </p>
    </div>
</section>


{{ template "footer" . }}{{ end }}