{{ define "_input" }}
{{ if eq .Client.Input.Mode 1 }}

<div class="fc g2 fade-me-in">
    <div class="fr g1">
        <button
            hx-get="/dialog/_schema"
            hx-target="body"
            hx-swap="beforeend"
        >
            Schema
        </button>
        <button
            hx-get="/dialog/_entity"
            hx-target="body"
            hx-swap="beforeend"
        >
            Entity
        </button>
        <button
            hx-get="/dialog/_attribute"
            hx-target="body"
            hx-swap="beforeend"
        >
            Attribute
        </button>
    </div>
    <div>
        <textarea
            name="q"
            hx-post="/island/_output"
            hx-trigger="keyup delay:500ms changed"
            hx-target="#output-box"
            hx-swap="innerHTML"
            cols="60"
            rows="40"
            autocapitalize="false"
            autocomplete="false"
        >{{ .Client.Input.Q }}</textarea>
    </div>
</div>

{{ else }}

<div class="fr g1 fade-me-in">
    <div class="fc g2">
        {{ range $si, $schema := .Output.Schemas }}
        <div class="schema {{ if (eq $.Client.Input.Focus.Path $schema.Path) }}focused{{ end }}">
            {{ if ne $si 0 }}{{ end }}
            <form
                class="focusable fr g1"
                hx-post="/focus"
                hx-target="#input-box"
                hx-swap="innerHTML"
                hx-trigger="click"
            >
                <input
                    type="hidden"
                    name="focus"
                    value="{{ $schema.Path }}"
                >
                <span class="schema-title">
                    {{ $schema.Name }}
                </span>
            </form>
            {{ range $ei, $entity := $schema.Entities }}
            <div class="entity {{ if (eq $.Client.Input.Focus.Path $entity.Path) }}focused{{ end }}">
                {{ if ne $ei 0 }}{{ end }}
                <form
                    class="focusable fr g1"
                    hx-post="/focus"
                    hx-target="#input-box"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                >
                    <input
                        type="hidden"
                        name="focus"
                        value="{{ $entity.Path }}"
                    >
                    <span class="entity-title">
                        {{ $entity.Name }}
                    </span>
                </form>
                {{ range $ai, $attr := $entity.RawAttributes }}
                <div class="attribute {{ if (eq $.Client.Input.Focus.Path $attr.Path) }}focused{{ end }}">
                    {{ if ne $ai 0 }}{{ end }}
                    <form
                        class="focusable fr g1"
                        hx-post="/focus"
                        hx-target="#input-box"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                    >
                        <input
                            type="hidden"
                            name="focus"
                            value="{{ $attr.Path }}"
                        >
                        <i class="material-icons attr-icon-{{ $attr.Kind }}"></i>
                        {{ $attr.Name }}
                    </form>
                </div>
                {{- end }}
            </div>
            {{- end }}
        </div>
        {{- end }}
    </div>
    <div class="fc g2">
        {{ if .Client.Input.Focus.Schema }}
        {{ template "fields.schema" . }}
        {{ end }}
        {{ if .Client.Input.Focus.Entity }}
        {{ template "fields.entity" . }}
        {{ end }}
        {{ if .Client.Input.Focus.Attribute }}
        {{ template "fields.attribute" . }}
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}