{{ define "output-tree" }}
<div
    class="fc g2"
    id="output-tree"
    hx-swap-oob="true"
>

    <div class="fr g1">
        {{- if .Client.LastOutput.OkayToDownload }}
        <form
            action="/download"
            method="post"
            target="_blank"
        >
            <input
                type="hidden"
                name="X-CSRF-TOKEN"
                value="{{ .Client.CSRF }}"
            >
            <button type="submit">
                Download
            </button>
        </form>
        {{- end }}
    </div>

    {{- if .Client.LastOutput.HasErr }}
    <details
        open
        class="fg-red"
    >
        <summary>Errors</summary>
        <div class="scroll-box">
            <pre>
        {{- range $index, $sch := .Client.LastOutput.Schemas }}
        {{- range $index, $ent := $sch.Entities }}
        {{- range $index, $attr := $ent.RawAttributes }}
        {{- range $index, $err := $attr.Err }}
{{ $sch.Name }} > {{ $ent.Name }} > {{ $attr.Name }}
{{ $attr.ErrString }}
{{ end }}
        {{- end }}
        {{- end }}
        {{- end }}
            </pre>
        </div>
    </details>
    {{- end }}

    <h3>Postgres</h3>

    {{ range $k, $v := .Client.LastOutput.PgGen }}
    <details open>
        <summary class="file-name"> {{ $k.Full }} </summary>
        <div class="scroll-box">
            {{- chroma $v "PL/pgSQL" }}
        </div>
    </details>
    {{ end }}

    <h3>Hurl Tests</h3>

    {{ range $k, $v := .Client.LastOutput.HurlGen }}
    <details>
        <summary class="file-name"> {{ $k.Full }} </summary>
        <div class="scroll-box">
            {{- chroma $v "ini" }}
        </div>
    </details>
    {{ end }}

    <h3>Go</h3>

    {{ range $k, $v := .Client.LastOutput.GoGen }}
    <details>
        <summary class="file-name"> {{ $k.Full }} </summary>
        <div class="scroll-box">
            {{- chroma $v "go" }}
        </div>
    </details>
    {{ end }}
</div>
{{ end }}