<div class="section-parent">
    <div class="section-scroll">
        <div class="fc g-1">
            <button class="info" (click)="showSettingsModal = true">
                <span>Settings & Help</span>
            </button>
            <button class="info" (click)="copyConfig()">
                <span>
                    Copy
                    @if (data.app.mode === 0) {
                        JSON
                    } @else if (data.app.mode === 1) {
                        YAML
                    }
                </span>
            </button>
        </div>
    </div>
</div>

@if (showSettingsModal) {
    <app-modal [title]="'Settings'" [(visible)]="showSettingsModal">
        <ng-content body>
            <div class="info m-2 p-2 fc g-2 align-center justify-center">
                <span> Click and hold an attribute or table to move it around </span>
                <span> The order of items is significant </span>
            </div>

            <!-- Text Editor -->
            <div class="controls">
                <div class="control">
                    <label for="appComplexity">Output</label>
                    <select [(ngModel)]="data.app.generatorMode" (ngModelChange)="data.ReloadAndSave()" id="appComplexity">
                        @for (x of data.generatorModeOptions; track $index) {
                            <option [ngValue]="x.value">{{ x.name }}</option>
                        }
                    </select>
                </div>
                <div class="control">
                    <label for="appMode">Output: Config</label>
                    <select [(ngModel)]="data.app.mode" (ngModelChange)="data.ReloadAndSave()" id="appMode">
                        @for (x of modeOptions; track $index) {
                            <option [ngValue]="x.value">{{ x.name }}</option>
                        }
                    </select>
                </div>
                <!-- <div class="control">
                <label for="appComplexity">Input: Complexity</label>
                <select
                  [(ngModel)]="data.app.complexity"
                  (ngModelChange)="data.ReloadAndSave()"
                  id="appComplexity"
                >
                  @for (x of complexityOptions; track $index) {
                  <option [ngValue]="x.value">{{ x.name }}</option>
                  }
                </select>
              </div> -->
            </div>
        </ng-content>
    </app-modal>
}
