<div class="section-parent">
    <div class="section-scroll">
        <div class="fc g-1">
            <button class="info" (click)="showSettingsModal = true">
                <span>Settings & Help</span>
            </button>
            <button class="info" (click)="copyConfig()">
                <span>
                    Copy
                    @if (data.app.mode === 0) {
                        JSON
                    } @else if (data.app.mode === 1) {
                        YAML
                    }
                </span>
            </button>
        </div>
    </div>
</div>
